# Marketing and product
NEXT_PUBLIC_GA_MEASUREMENT_ID=
NEXT_PUBLIC_GA_ADS_ID=
NEXT_PUBLIC_GTAG_MANAGER=

# MongoDB
MONGODB_URI=
MONGODB_DB=

# Mailgun
MAIL_GUN_API_KEY=
MAIL_GUN_DOMAIN=

# Generate one with `$ openssl rand -base64 32`
NEXTAUTH_SECRET=
NEXTAUTH_URL=http://localhost:3000

# OAuth
AUTH_GOOGLE_ID=
AUTH_GOOGLE_SECRET=
AUTH_FACEBOOK_ID=
AUTH_FACEBOOK_SECRET=

# Email sign in
EMAIL_SERVER_USER=
EMAIL_SERVER_PASSWORD=
EMAIL_SERVER_HOST=
EMAIL_SERVER_PORT=
EMAIL_FROM=

# Utilities
HOSTNAME=localhost
PORT=3000
HOST=http://$HOSTNAME:$PORT

# Security
ENCRYPTION_KEY=08b5a48e7d90e102a1a9d49b04e85a1ba22d83951ff855b81061e828ced55957

# Observability
HONEY_API_KEY=
HONEY_DATASET=
NEXT_PUBLIC_HONEY_API_KEY=
NEXT_PUBLIC_HONEY_DATASET=

# Customer support
NEXT_PUBLIC_CHATWOOT_API_KEY=

# Advanced NextJS
# NEXT_MANUAL_SIG_HANDLE=1

# AI
OPENAI_TOKEN=
